<label for="appt">Choose a time for your meeting:</label>
<br>
<input type="time" id="appt" name="appt"
       min="09:00" max="18:00" required>
<br>
<small>Office hours are 9am to 6pm</small>
<br>
<button type="button" method="POST" action="/appt" > Submit!</button>
